@charset "UTF8";

body {
    background-color: #ffffff;
    font-family: monospace;
}

header.page_header, p.subtitle {
    text-align: center;
}

/* corpo da página */
section.interface {
    display: block;
    width: 75%;
    margin: auto;
    padding: 1px 45px 1px 45px;
    text-align: justify;
    background-color: #e7e7e7;
    font-size: 48px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5); /* coloca uma sombra em volta da interface
  ??? box-shadow: deslocamento-horizontal deslocamento-vertical espalhamento cor */
}

ul li {
    cursor: pointer;
}

.description {
    font-style: italic;
    color: #3998d6;
}

a {
    color: #3998d6;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

i#logo {
  color: #5fba7d;
}

footer {
    text-align: center;
}

.reading {
    font-weight: bold;
}

.sub-description {
    color: #606060;
}
