@charset "UTF8";
body {
    background-color: transparent;
    font-family: monospace;
}
header.page_header, p.subtitle {
    text-align: center;
}
section.interface {
    width: 75%;
    margin: -30px auto 0px auto;
    background-color: #e7e7e7;
    font-size: 48px;
}
a {
    color: #3998d6;
    text-decoration: none;
}
footer {
    text-align: center;
}
